{# templates/kalkulation.html #}
{% extends "base.html" %}
{% block title %}Kalkulation – Beschaffungssystem{% endblock %}

{% block style %}
<style>
    .hero {
        background: #fff;
        border-radius: .5rem;
        box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
        padding: 4rem 2rem;
        margin-top: 2rem;
    }
</style>
{% endblock %}

{% block content %}
<h1 class="mb-4">Kalkulation</h1>

<div class="hero text-center">
    <h1 class="display-1">Coming&nbsp;Soon</h1>
</div>
{% endblock %}
